@model Ranking.GUI.ViewModels.AddOpinionViewModel
@using (Html.BeginForm("AddOpinion", "Place", new { id = Model.PlaceId }))
{
    @Html.AntiForgeryToken()

    <div class="opinion">
        <span class="capital">Oceń to miejsce:</span><br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="nickLabel">
            @Html.LabelFor(m => m.Nick)
            @Html.TextBoxFor(m => m.Nick)
        </div>

        <div id="emailLabel">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>

        <div id="opinionLabel">
            @Html.LabelFor(m => m.Content)
            @Html.TextAreaFor(m => m.Content)
        </div>

        <div id="gradeLabel">
            @Html.LabelFor(m => m.Grade)
            @Html.TextBoxFor(m => m.Grade)

            <input type="submit" value="Dodaj Opinie" class="btn btn-default" />
        </div>
    </div>
}