@model Ranking.GUI.ViewModels.PlaceDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/GalleryJssor.js"></script>
<div class="midContent">

    <span class="detailsName">@Model.Name</span>



    <div class="details">
        <div class="contact">
            <span class="capital">Kontakt</span><br />
            &rsaquo;&nbsp;@Model.City<br />
            &rsaquo;&nbsp;@Model.Country<br />


        </div>


        <div class="gallery">
            @foreach (var item in Model.Picture)
            {
                <a tabindex="1"><img src="~/@item" /></a>
            }
            <span class="close"></span>
        </div>
    </div>

    <div class="description">
        @Model.Description
    </div>












@*<h2>@Model.Name</h2>
    <div>
        @Html.ActionLink("Usuń", "Delete", new { id = Model.PlaceId })
    </div>
    <div>
        @Html.ActionLink("Wróć", "Index")
    </div>


    @Model.Country
    <br />
    @Model.Description
    <br />

    @{Html.RenderAction("AddOpinion", "Place", new { id = Model.PlaceId });}

    <br />
    @if (Model.Opinions != null)
    {
        foreach (var item in Model.Opinions)
        {
            @item.Key
            <br />
            @item.Value.Grade
            <br />
            @item.Value.Content
        }
    }*@
</div>



