@model Ranking.GUI.ViewModels.Places.PlaceDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/GalleryJssor.js"></script>
<div class="midContent">

    <div class="detailsTop">
        <span class="detailsName">@Model.Name</span>
        <span class="doubleGrade"><span class=" glyphicon glyphicon-star"></span> @Model.Rate/5.0</span>
        @if (Model.Verified)
        {
            <img src="~/Content/Images/Approved.png" alt="To miejsce nie jest potwierdzone" />
        }
        
    </div>
    <div class="details">
        <div class="contact">
            <span class="capital">Kontakt:</span><br />
            <ul>
                <li><b>Kraj: </b>@Model.Country</li>
                <li><b>Miasto: </b>@Model.City</li>
                <li><b>Ulica: </b>@Model.Address</li>
                <li><b>Tel: </b>@Model.Telephone</li>
                <li>
                    <iframe frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?q=@Model.Address, @Model.City&output=embed"></iframe>
                </li>
            </ul>

        </div>

        <div class="gallery">
            <span class="capital">Galeria:</span><br />

            @foreach (var item in Model.Picture)
            {
                <a tabindex="1"><img src="~/@item" /></a>
            }
            <span class="close"></span>
        </div>
    </div>
        <div class="description">
            <span class="capital" ng-click="isCollapsed = !isCollapsed">Opis:</span><br />
            <span collapse="isCollapsed">@Model.Description</span>
        </div>

        @{Html.RenderAction("AddOpinion", "Place", new { id = Model.PlaceId });}
        @{Html.RenderAction("Opinions", "Place", new { id = Model.PlaceId });}

    </div>



