@model IEnumerable<Ranking.GUI.ViewModels.PlaceListViewModel>
@{
    ViewBag.Title = "Ranking";
}

<div id="carousel-generic" class="carousel slide">

    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <li data-target="#carousel-generic" data-slide-to="@i" class="@(i == 0 ? "active" : string.Empty)"></li>
        }
    </ol>
    <div class="carousel-inner">
        @{
            var j = 0;
            foreach (var item in Model)
            {
                var itemClass = j++ == 0 ? "active" : "";
                <div class="item @itemClass">
                        <img src="~/@item.Picture" />
                        <div class="carousel-caption">
                            <a href="@Url.Action("Details", "Place", new { id = item.PlaceId })" >
                            <span class="hotelName">@item.Name</span></a><br />
                            <p>@item.City</p>
                        </div>
                </div>
            }
        }
    </div>

    <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-generic" data-slide="next">
        <span class="icon-next"></span>
    </a>

</div>

<div class="midContent">
<div class="mid">
    @foreach (var item in @Model)
    {
        <div id="midHotel">
            <a href="@Url.Action("Details", "Place", new { id = item.PlaceId })">
                <img src="~/@item.Picture" />
                <p>
                    <span class="hotelName">@item.Name</span><br />
                    @item.Description
                </p>
            </a>
        </div>
    }
</div>




<div id="city">

    <h3>Polska:</h3>
    <li><a href="#">&rsaquo;&nbsp;Kraków</a></li><br />
    <li><a href="#">&rsaquo;&nbsp;Warszawa</a></li><br />
    <li><a href="#">&rsaquo;&nbsp;Wrocław</a></li><br />

    <h3>Świat:</h3>
    <li><a href="#">&rsaquo;&nbsp;Egipt</a></li><br />
    <li><a href="#">&rsaquo;&nbsp;Hiszpania</a></li><br />
    <li><a href="#">&rsaquo;&nbsp;Włochy</a></li><br />

</div>
</div>